/* 
    Created on : Apr 22, 2017, 7:51:33 PM
    Author     : ecabrerar
*/

input[type=submit] {
     background:none!important;
     border:none;
     padding:0!important;
     color: blue;
     text-decoration: underline;
     cursor:pointer;
}